<!DOCTYPE html>
<html lang='en'>
<head>
<title>Music Library</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
  <ul>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/artists/new">Create New Artist</a></li>
  <br>
  <li><a href="/albums">All Albums</a></li>
  <li><a href="/albums/new">Create New Album</a></li>
  </ul>
  </nav>
<!--   main tag specifies the main part of the document -->
<main>
  <%= yield %>
</body>
</html>