<h1>Add a new album</h1>

<form action="/albums" method="post">
  <label for="name">Album name:</label>
  <input type="text" name="name">
  <br>

  <label for="artist">Artist Name</label>
  <select name="artist_id">
    <% @artists.each do |artist| %>
      <option value="<%= artist.id%>">
        <%= artist.name %></option>
      <% end %>
      </select>


    <input type='submit' value="Add album">
  </form>